<ion-view view-title="我">
  <ion-content>

    <div class="list">
      <div class="item text-center">
        <div><i class="icon ion-social-github" style="font-size: 60px"></i></div>
        <div style="font-size: 20px; font-weight: bold">hhjjj1010</div>
      </div>

      <a class="item item-text-wrap" ng-href="https://github.com/hhjjj1010">
        github主页
        <div style="color: #AAAAAA">
          https://github.com/hhjjj1010
        </div>
      </a>
      <a class="item item-text-wrap" ng-href="https://github.com/hhjjj1010/ionic1-area-picker-demo">
        Demo地址
        <div style="color: #AAAAAA">
          https://github.com/hhjjj1010/ionic1-area-picker-demo
        </div>
      </a>
    </div>

  </ion-content>
</ion-view>a
